<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>

        <%- include("./partials/navbar.ejs") %>

            <form action="/session/<%= mentor._id %>" method="post">
                <label for="subject">Subject</label>
                <select name="subject" id="subject">
                    <% for (subject of subjectList) { %>
                        <option value="<%= subject %>">
                            <%= subject %>
                        </option>
                    <% } %>
                </select>

                <label for="date">date</label>
                <input type="date" name="date" id="date">

                <label for="time">Time</label>
                <select name="time" id="time">
                    <option value="15:30">3:30 PM</option>
                    <option value="17:30">5:30 PM</option>
                    <option value="19:30">7:30 PM</option>
                </select>

                <button type="submit">Schedule</button>
            </form>
            </div>
            <script>
                const occupiedSlots = <%- JSON.stringify(occupiedSlots) %>;
            </script>
    </body>

</html>